<?xml version="1.0" ?>
<cubicsdr_config>
    <window>
        <x>0</x>
        <y>32</y>
        <w>1920</w>
        <h>892</h>
        <max>1</max>
        <tips>0</tips>
        <perf_mode>2</perf_mode>
        <theme>0</theme>
        <font_scale>0</font_scale>
        <snap>1</snap>
        <center_freq>11800000</center_freq>
        <waterfall_lps>28</waterfall_lps>
        <spectrum_avg>0.331522</spectrum_avg>
        <modemprops_collapsed>0</modemprops_collapsed>
        <db_offset>0</db_offset>
        <main_split>241</main_split>
        <vis_split>210</vis_split>
        <bookmark_split>329</bookmark_split>
        <bookmark_visible>1</bookmark_visible>
    </window>
    <recording>
        <path>/home/radek/Music</path>
        <squelch>0</squelch>
        <file_time_limit>0</file_time_limit>
    </recording>
    <devices>
        <device>
            <id>SDRplay Dev0 RSP1 B0001P0001</id>
            <name></name>
            <ppm>0</ppm>
            <offset>0</offset>
            <sample_rate>1000000</sample_rate>
            <agc_mode>1</agc_mode>
            <settings>
                <agc_setpoint>-30</agc_setpoint>
                <iqcorr_ctrl>true</iqcorr_ctrl>
                <rfgain_sel>0</rfgain_sel>
            </settings>
            <gains>
                <gain>
                    <id>IFGR</id>
                    <value>20</value>
                </gain>
            </gains>
        </device>
        <device>
            <id>SDRplay Dev0 RSP1 B0001P0002</id>
            <name></name>
            <ppm>0</ppm>
            <offset>0</offset>
            <sample_rate>2048000</sample_rate>
            <agc_mode>1</agc_mode>
            <settings>
                <agc_setpoint>-30</agc_setpoint>
                <iqcorr_ctrl>true</iqcorr_ctrl>
                <rfgain_sel>0</rfgain_sel>
            </settings>
            <gains>
                <gain>
                    <id>IFGR</id>
                    <value>23</value>
                </gain>
            </gains>
        </device>
        <device>
            <id>SDRplay Dev0 RSP1 B0001P0004</id>
            <name></name>
            <ppm>0</ppm>
            <offset>0</offset>
            <sample_rate>1000000</sample_rate>
            <agc_mode>0</agc_mode>
            <settings>
                <agc_setpoint>-30</agc_setpoint>
                <iqcorr_ctrl>true</iqcorr_ctrl>
                <rfgain_sel>0</rfgain_sel>
            </settings>
            <gains>
                <gain>
                    <id>IFGR</id>
                    <value>39</value>
                </gain>
                <gain>
                    <id>RFGR</id>
                    <value>0</value>
                </gain>
            </gains>
        </device>
        <device>
            <id>SDRplay Dev0 RSP1A 220500E598</id>
            <name></name>
            <ppm>0</ppm>
            <offset>0</offset>
            <sample_rate>1000000</sample_rate>
            <agc_mode>0</agc_mode>
            <settings>
                <agc_setpoint>-30</agc_setpoint>
                <biasT_ctrl>false</biasT_ctrl>
                <dabnotch_ctrl>false</dabnotch_ctrl>
                <iqcorr_ctrl>true</iqcorr_ctrl>
                <rfgain_sel>0</rfgain_sel>
                <rfnotch_ctrl>false</rfnotch_ctrl>
            </settings>
            <gains>
                <gain>
                    <id>IFGR</id>
                    <value>33</value>
                </gain>
                <gain>
                    <id>RFGR</id>
                    <value>2</value>
                </gain>
            </gains>
        </device>
    </devices>
</cubicsdr_config>
